@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.title {
  margin: 0;
  font-size: $font-size-base * 1.25;
  font-weight: bold;
}

.list {
  display: grid;
  grid-template-columns: 1fr auto;

  dt {
    font-weight: normal;
  }
}

.price {
  font-size: $font-size-base * 2;
  font-weight: bold;
}